 


 

#quiz , #wrong , #correct ,#score{
    display: none;
}

.bg-mine{
    background-image: linear-gradient(to bottom, rgb(228, 191, 191), rgb(233, 162, 162)); 
}

#setting{
    width: 50%;
}

.bg-mine-light{
     background-color:rgb(236, 180, 180);
     transition: all .5s;
     color:rgb(87, 60, 60); 
     border: solid 2px black;
     
     
}

.bg-mine-light:hover{
    background-color:rgb(80, 50, 50);
    transform: translateY(-5%);
    box-shadow: 5px 5px 5px 0 rgba(80, 50, 50, 0.568);
    color: rgb(236, 180, 180);

}

section{

    box-shadow: -1px -2px 10px 2px;
}

#message{
    display: none;
}
@media screen and (max-width: 1000px) {

    #setting{width: 70%;}
}

@media screen and (max-width: 800px) {

    #setting{width: 80%;}
}

@media screen and (max-width: 600px) {

    #setting{width: 95%;}
}

